<h1>Pirate</h1>

<div class="pirate"></div>
  <h2><%= @pirate.name %></h2><br>
  <h2><%= @pirate.weight %></h2><br>
  <h2><%= @pirate.height %></h2><br>
</div><br>


<h2>Ships</h2>
<%= @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div>
<% end %>
